<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Admin</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
		 
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
			<style>
 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
li {
list-style-type: none;
}
</style>

	</head>
	<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/profile">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin Options <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/data">View Data/Hit Lottery</a></li>
						<li><a href="/allViolation">View Violations</a></li>
						<li><a href="/addviolation">Add Violations</a></li>
                    </ul>
                </li>
                <li><a href="/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <!-- Left column -->
            <a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Tools</strong></a>

            <hr>

            <ul class="nav nav-stacked">
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Settings <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                        <li class="active"> <a href="/dashboard"><i class="/profile"></i> Home</a></li>
                        <li><a href="/data"><i class="glyphicon glyphicon-user"></i> All Users </a></li>
                        <li><a href="/vehicles"><i class="glyphicon glpyhicon-chevron-right"></i> All Vehicles</a></li>
                        <li><a href="/allViolation"><i class="glyphicon glyphicon-comment"></i> All Violations</a></li>
                        <li><a href="/parkinglot"><i class="glyphicon glyphicon-user"></i> Current Parking Lot</a></li>
                        <li><a href="/about"><i class="glyphicon glyphicon-flag"></i> About</a></li>
                        <li><a href="/rules"><i class="glyphicon glyphicon-exclamation-sign"></i> Rules</a></li>
                        <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>
                
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#menu3"> Social Media <i class="glyphicon glyphicon-chevron-right"></i></a>
                    <ul class="nav nav-stacked collapse" id="menu3">
                        <li><a href="http://www.aduiepyle.com/"><i class="glyphicon glyphicon-circle"></i> A Duie Pyle </a></li>
                        
                    </ul>
                </li>
            </ul>

            <hr>

            <a href="https://github.com/kkotwal94/ParkingLotProj"><strong><i class="glyphicon glyphicon-align-justify"></i> Github</strong></a>

            <hr>

         

            
        </div>
        <!-- /col-3 -->
        <div class="col-sm-9">

            
            <hr>

            <div class="row">
                <!-- center left-->
                <div class="col-md-12">
                   

                    

                    <div class="btn-group btn-group-justified">
                        <a href="/data" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-user"></i>
                            <br> View Users/Lottery
                        </a>
                        <a href="/addviolation" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-flag"></i>
                            <br> Add Violation
                        </a>
                        <a href="/allViolation" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            <br> View Violations
                        </a>
                        <a href="/help" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-question-sign"></i>
                            <br> Help
                        </a>
                    </div>

                    <hr>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Help!</h4></div>
                        <div class="panel-body">
							
							
							<div class="row">
								
								
								<div class="col-sm-8">
            <div class="well">
                <h3><span class="fa fa-user"></span>Help!</h3>
				<ol>
						<li> 1. If something doesnt save after a Add, retry again, it shouldn't happen but if it does it could be cause of database runtime. </li>
						<li> 2. If the site crashes, I most likely messed up a dependency. </li>
						<li> 3. The remove function removes without a "Are you sure?". If it doesnt refresh the page refresh it yourself. </li>
						<li> 4. After every remove the primary car is reset to default, remember to set it back to your primary again.  </li>
						<li> 5. Can have unlimited amount of cars, but don't clog up the database with unnecessary vehicles, and dont confuse yourself either. </li>
				</ol>
                    
					
					</div>
					</div>
      
                        <!--/panel-body-->
                    </div>
                    <!--/panel-->

                    <hr>

                    <!--tabs-->
                    

                    </div>
                    <!--/tabs-->

                    <hr>
                    
                </div>
                <!--/col-->
            
                    
                    
                    <!--/panel-->


                    <!--/panel-->

                </div>
                <!--/col-span-6-->

            </div>
            <!--/row-->

            <hr>

            
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->




<!-- /.modal -->
	<!-- script references -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  	    <script src="/build/JSXTransformer.js"></script>
        <script src="/build/react.js"></script>
		<script src="../views/js/bootstrap.min.js"></script>
		<script src="../views/js/scripts.js"></script>
		
		 
	</body>
</html>