<!DOCTYPE html>
<html>
<head>
     <title> Parking authentication </title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <style>
		   * {
		   
		   }
           body { 
                  //padding-top:80px; 
                  background: #e74c3c;
				  background: -webkit-linear-gradient(top left, #e74c3c 0%, #e74c3c 100%);
                  //background: linear-gradient(to bottom right, #e74c3c 0%, #e74c3c 100%);
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                   -o-background-size: cover;
                   background-size: cover;
                }
			ul
                {
					list-style-type: none;
				}
            .jumbotron  {
            background-color: transparent;
             }
			 
           
      </style>

</head>
<body>
<div class ="container">
     <div class="jumbotron text-center">
          <h1>A.Duie Pyle Parking System</h1>
          <p>Login or Register with: </p>
		  <div class ="buttons">
			<ul>
			<li><a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login </a></li>
			<li><a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Local Signup</a></li>
			</ul>    
		  </div>
	 </div>
</div>
</body>
</html>